.search-input{
    margin-left: 7%;
    padding: 10px 30px 0px 10px;
    display: flex;
}
.search-input .textbox{
    padding: 10px 300px 10px 5px;
    border-radius: 10px;
}

#search, #search-btn {
    display: inline-block;
  outline: 0;
  border: 0;
  height: 50px;
  cursor: pointer;
  border-radius: 12px;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  line-height: 26px;
}

.cart-icon {
    width: 200px;
}