.product-card {
    background: #FDFEFF ;
    display: flex;
    max-width: 800px;
    flex-direction: column;
    justify-content: flex-end;
    flex-basis: 200px;
    flex-shrink: 1;
    border-color: #e8e8e8;
    object-fit: contain;
    margin-bottom: 70px;
    margin-top: 50px;
    border-radius: 15px 15px;
    background-color: beige;
    margin: 10px 5px 15px;
}
.product-card .media {
    max-width: 300px;
    object-fit: contain;
    border-radius: 15px 15px; 
}
.product-description{
    text-align: center;
    font-weight: light;
    font-size: 16px;
}
.product-name{
    text-align: center;
    text-decoration: underline;
}

#buttons {
    align-items: center;
    margin: 10px 5px 15px;
}
.product-price{
    text-align: center;

}

.product-grid .product-card .media img {
    height: 250px;
    width: 248px;
    justify-self: center;
}

.product-card .media img {
    width: 200px;
}

.stars {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
}

h4{
    display: flex;
    justify-content: center;
}

.product-buttons {
    text-align: center;
}
