.productCard {
    background: var(--pure-white);
    display: flex;
    flex-direction: column;
    border: solid 1px var(--border-color);
    max-width: 800px;
    object-fit: contain;
}

.productCard .media {
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
}

.name{
    text-align: center;
}
.price{
    text-align: center;
}


.productCard .media img {
    max-width: 800px;
}

.stars {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
}

h4{
    display: flex;
    justify-content: center;
}

.card-descrip {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

