.about .content {
    margin-left: 50px;
    max-width: var(--content-width);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 350px;
}

.about .content h3 {
    margin: 10px 0 30px;
    font-size: 24px;
    font-weight: 600;
}

.about .content .summary {
    display: flex;
    flex-direction: row;
    background: white;
    height: 330px;
    border: solid 1px #e0e0e0;
}

.about .content .summary .text {
    align-items: flex-start;
    padding: 28px 36px;
    color: var(--font-light);
}

.about .content .summary .text p {
    color: var(--font-light);
    margin-bottom: 18px;
    font-size: 18px;
}

img {
    background: var(--dark-blue);
    height: 329px;
}